body
{
	margin: 0; 
	padding: 0;   
}
html, 
body
{
    height: 100%;
}
header
{
    background-color: black;
    height: 200px;  
	padding-top: 0; 
}
#Content
{
    width: 1160px; 
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
    background-color: grey;
    flex: 1 0 auto; 
	float: center; 
	height: 600px auto;
}
footer
{
    background-color: rgb(114, 114, 114);
    flex: 0 0 auto;
	clear: both; 
	height: 150px; 
}