body
{
	margin: 0; 
	padding: 0;   
}
html, 
body
{
    height: 100%;
}
#BlockMenu
{
	background-image: url(Images/1.jpg);
	height: 200px;  
	padding-top: 0;
}
#GorisMenu
{
	list-style-type: none;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 140px;
	
}
#GorisMenu li
{
	display: inline;
	padding: 5px 10px;
	
}
#GorisMenu a
{
	color: white;
	background: darkgreen;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 250px;
	cursor: pointer;
	line-height: 3;
	position:relative;
	font-size: 14pt;
	border-radius: 15px;
}
#GorisMenu a:after
{
	background-color: white;
	display: block;
	content: "";
	height: 3px;
	width: 0%;
	left:50%;
	position:absolute;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	transform:translateX(-50%);
}
#GorisMenu a:hover:after,
#GorisMenu a:focus:after 
{
    width: 100%;
}
#Content
{
    width: 1160px; 
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
    background-color: grey;
    flex: 1 0 auto; 
	float: center; 
	height: 600px auto;
}
footer
{
    background-color: rgb(114, 114, 114);
    flex: 0 0 auto;
	clear: both; 
	height: 150px; 
}